# --- Web Panel & Database ---
flask
pymongo
dnspython

# --- Telegram Bot ---
pyTelegramBotAPI

# --- AWS Automation & Stealth ---
selenium
undetected-chromedriver

# --- System Utilities ---
requests
python-dotenv
